<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmer Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Farmer Login</h2>

    <form th:action="@{/farmer/login}" method="post">
        Email:
        <input type="email" name="email" required/><br/>

        Password:
        <input type="password" name="password" required/><br/>

        <div th:if="${error}" style="color:red">
            <p th:text="${error}"></p>
        </div>

        <button type="submit">Login</button>
    </form>

    <a href="/farmer/register">New Farmer? Register</a>
</div>
</body>
</html>
